doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title House Points
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Merriweather:700i', type='text/css')
    link(rel='stylesheet', href="{{url_for('static', filename='hourglasses.css') }}", type='text/css')
    
    - for house in points
      style(type="text/css").
        .glass.{{house.name}} {
          background-image: url("/static/{{house.name}}.png");
          background-position: right 50% bottom {{house.height}}%;
        }
        .{{house.name}} h1 {
          background-image: url("/static/{{house.name}}.png");
        }
  body
    .hourglasses
      - for house in points
        .glass(class=house.name)
          .points
            h1 {{house.ct * 10}}
          img(src="{{url_for('static', filename='hourglass.svg') }}")
      
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
